.App {
    text-align: center;
    display: flex;
    margin-top: 9vh;
    padding-top: 1vh;
    min-height: 100vh;
    position: relative;
    background-color: #444444;
}

body {
    font-family: "Open Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Open+Sans:wght@300;400;600&display=swap");
